<!-- include header -->
<%-include('include/_header2')%>
    <!-- /include header -->

    <!--Main site-->
    <main id="site-main">
        <div class="container">
            <p class="recruiter"> Are you a Recruiter?</p>
            <div class="box-nav d-flex-justify-between">
                <a href="/jobhire-now" class="border-shadow">
                    <span class="text-gradient">Hire Now</span>
                </a>
            </div>

            <!--form handling-->
            <!-- <form action="/" method="POST"> -->
                <div class="cards-list">
                <% for( let i = 0; i < jobArray.length; i++ ) { %>
                <div class="card">
                    <div class="title">
                        <h1><%= jobArray[i].title %> </h1>
                    </div>
                
                    <div class="des">
                        <p><%= jobArray[i].description %></p>
                    </div>
                
                    <div class="design roles">Roles Available</div>
                    <div class="des">
                        <p><%= jobArray[i].rolesAvailable %></p>
                    </div>
                
                    <div class="design openings">No of openings</div>
                    <div class="des">
                        <p><%= jobArray[i].openings %> </p>
                    </div>
                    <button class="apply-btn">Apply</button>
                </div>
                <% } %>  
            </div>   
            <!-- </form> -->
        </div>
    </main>
    <!--/Main site-->

    <!-- include footer -->
    <%-include('include/_footer2')%>
        <!-- /include footer -->